header .navbar-collapse .navbar-text{
  font-size: 14px;
  color: #f9f9f9;
  padding-top: 15px;
}
header .navbar-collapse .navbar-text span{
  vertical-align: middle;
  color: #f9f9f9;
}
header .input-group .form-control{
  background-color: transparent;
  border-bottom: 2px solid #444;
  color: #e7e7e7;
  outline: 0;
  border-radius: 0px;
  width: 400px;
  border-top: none;
  border-left: none;
  border-right: none;
}
header .input-group .form-control:focus{
  outline: 0;
  box-shadow: none;
}
header .input-group .form-control::placeholder{
  color: #757575;
}
header .input-group button{
  background-color: rgba(0,0,0,.5);
  color: #e7e7e7;
  border: 2px solid transparent;
}
header .suggestions{
  width: 100%;
  position: absolute;
  top: 46px;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  list-style: none;
}
header .suggestions li{
  padding-bottom: 10px;
  cursor: pointer;
}